body{
	background-color: lightgrey;
}

	h1{
		color:red;
		font-size:60px;
	}

	h2{
		font-size: 40px;
		color:green;
		
	}

	span{
		font-style: italic;
		color:red;
	}

	h2 span{
		text-decoration:underline;
		color:black;
		font-style:bold;
	}

	#first{
		font-size: 80px;
		text-decoration:underline;
	}

	.small{
		font-size:22px;
		color:black;
		font-style: italic;
	}